*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
  text-decoration: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  /*   -webkit-appearance: none;*/
  border-radius: 0;
}

* img {
  max-width: 100%;
}

html {
  font-size: 10px;
}
@media (max-width: 550px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 6px;
  }
}

body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.7rem;
  background-color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 1920px;
  padding: 0 10px;
  margin: 0 auto;
}

.hero {
  padding: 6rem 0;
}
.hero__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.form {
  padding: 2.5rem;
  border: 1px solid darkgray;
  text-align: center;
}
.form__label {
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.form__label:not(:last-child) {
  margin-bottom: 1.5rem;
}
.form__input {
  color: black;
  padding: 0.8rem 1rem;
  width: 40rem;
  border: none;
  outline: none;
  background-color: gray;
}
.form__desc {
  color: black;
}

.form__sex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.form__hobbies {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.form__select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.form__select select {
  font-size: 1rem;
  color: white;
  outline: none;
  padding: 1.5rem 0.5rem;
  width: 30rem;
  background-color: gray;
}

.form__comment {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.form__comment textarea {
  border: none;
  width: 30rem;
  outline: none;
  background-color: darkgrey;
  resize: none;
  padding: 1.5rem;
  color: lightgray;
  max-height: 5rem;
  font-size: 1rem;
}
.form__comment textarea::-moz-placeholder {
  display: block;
  color: #2a2a2a;
}
.form__comment textarea::placeholder {
  display: block;
  color: #2a2a2a;
}

.form__solve {
  text-align: left;
}

.solve-form {
  margin-top: 1.5rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
}

.solve-form__buttons {
  width: 40rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.solve-form__button {
  cursor: pointer;
  background-color: #767676;
  color: black;
  outline: none;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  transition: background-color 0.3s ease-out;
}
@media (any-hover: hover) {
  .solve-form__button:hover {
    background-color: #b6b6b6;
  }
}
