table,
td {
    border: 1px solid #333;
    width: 15%;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}
body {
    background-image: url(img/2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
